[user]
	name = Malav Bhavsar
	email = malav@withpersona.com

[core]
    editor = code --wait --new-window
	excludesfile = /Users/malav/.gitignore_global

[push]
	default = current

[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[delta]
    plus-style = "syntax #012800"
    minus-style = "syntax #340001"
    syntax-theme = Solarized (dark)
    navigate = true

[interactive]
    diffFilter = delta --color-only

[diff]
  tool = vscode

[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE

[merge]
	tool = vscode

[mergetool "vscode"]
	cmd = code --wait $MERGED

[safe]
	directory=Users/malav/Development/persona-cli
	directory=Users/malav/Development/persona-cloudflare-ingress
	directory=Users/malav/Development/persona-code-sandbox
	directory=Users/malav/Development/persona-dbt
	directory=Users/malav/Development/persona-html-to-pdf
	directory=Users/malav/Development/persona-identity
	directory=Users/malav/Development/persona-infrastructure
	directory=Users/malav/Development/persona-ingress-api
	directory=Users/malav/Development/persona-internal-tools
	directory=Users/malav/Development/persona-kubernetes
	directory=Users/malav/Development/persona-scanner
	directory=Users/malav/Development/persona-watchlists
	directory=Users/malav/Development/persona-web

[branch]
	sort = -committerdate

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	ff = only
